<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
    <nav>
        <a href="/" class="logo-nav"><img src="images/hellokitty_logo.jpeg" class="logo" height="50px"></a>
        <a href="/flights" class="nav-text" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
        <a href="/flights/new" class="nav-text" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
    </nav>
  <main>
    <h1><%= title %></h1>