<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->

<!DOCTYPE html>
<html>
  <head>
    <title>404 error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="error">
    <!-- <img src="images/mrmeseeks.gif" background-size="cover"> -->
    <!-- <h3>"It’s become clear look a me that if we concentrate all our efforts, we will solve this problem. I’m Mr. Meeseeks."</h3> -->
  </main>
  </body>
</html>
