<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>
      <nav>
        <a href="/" class="logo-nav"><img src="images/hellokitty_logo.jpeg" class="logo" height="50px"></a>
        <a href="/flights" class="nav-text" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
        <a href="/flights/new" class="nav-text" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
      </nav>
  <main id="homepage">
    <h1 class="welcome">Welcome to<br><%= title %></h1>
  </main>
  </body>
</html>
