* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  color: #4C82A3;
  font-weight: 400;
}

#homepage {
  background-image: url(/images/hellokitty_bg2.png);
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: 4C82A3;
}

nav {
  grid-area: nav;
  display: flex;
  background-color: #FFB9A9;
  justify-content: center;
  align-items: center;
  padding: 0 30px 0 30px;
}

.nav-text {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 0 20px;
}

.active {
  font-weight: bolder;
  border: 4px solid white;
}

.nav-text:hover {
  font-weight: bolder;
  border: 4px solid white;
}

.logo-nav {
  margin-right: auto;;
}

.logo {
  border-radius: 50%;
  border: 1px solid white;
  transform: rotate(-15deg);
}

th a {
  text-decoration: none;
  font-size: 12px;
}

th a:hover {
  border-bottom: 5px solid #97E4FF;
}

/* nav a:hover {
  background-color: white;
  color: #97E4FF;
} */

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  overflow-y: scroll;
}

h1 {
  color: #97E4FF;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #4C82A3;
}

h2 {
  color: #4C82A3;
  font-family: 'Pacifico', cursive;
}

.welcome {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  text-shadow: 1px 1px 2px #4C82A3;
}


table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #97E4FF;
}

thead {
  background-color: #97E4FF;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 55%;
}

thead th:nth-child(4) {
  width: 15%;
}

.destinations-table {
text-align: center;
}

.destinations-th:nth-child(1) {
  width: 30%;
}
.destinations-th:nth-child(2) {
  width: 70%;
}

th {
  padding: 8px;
}

tbody tr:nth-child(2n) {
  background-color: whitesmoke;
}

tbody tr:nth-child(2n-1) {
  background-color: white;
}

#add-destination-form
#add-ticket-form {
  position: relative;
  width  : 300px;
  height : 100px;
}

.button {
  position: relative;
  left: 100px;
  top: 10px;
}            

.error {
  background-image: url('/images/rickandmorty.gif');
  background-size: cover;
}