<%- include('../partials/header') %>

<form id="add-flight-form" action="/flights" method="POST">
    <label>Airline</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
    <label>Flight No.</label>
    <input type="number" name="flightNo">
    <label>Departure</label>
    <input type="datetime-local" name="departs" value="2020-09-20T06:00">
    <label>Airport</label>
    <select name="airport">
        <option value="SEA">Select airport</option>
        <option value="SEA">SEA</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="AUS">AUS</option>
    </select>
    <input id="submit-flight-button" type="submit" value="Submit Flight">
  </form>
 


<%- include('../partials/footer') %>